<!DOCTYPE html>
<html>
  <head>
    <title><%= classInfo.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= classInfo.name %></h1>
    <p><%= classInfo.detail %></p>
    <form>
    <%
    	for(var i=0;i < classInfo.attrs.length;i++) {
    		if(classInfo.attrs[i].isId) continue;
    %>
    <label>
    <%=classInfo.attrs[i].name%>
    <%
    var type = "text";
    if(classInfo.attrs[i].type == "string"){
    	type = "text";
    }else if(classInfo.attrs[i].type == "number"){
    	type = "number";
    }
    %>
    <input type="<%=type%>"/>
    </label>
    <%}%>
    </form>
  </body>
</html>